<a href="https://colab.research.google.com/github/aizazaziz/Mixed-Projects/blob/main/Copy_of_Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("cars_dataset.csv")

In [ ]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [ ]:
df1 = df.drop_duplicates()
df1

,2016 Model,dummy,Fuel Type,Images,Make,Make,Model,Sales Button,select,Select Brand,Transmission,Units Button,Year,2016,Engine Size,Mileage,Price,Sales,Tax
0,NaN,,Diesel,NaN,Skoda,Skoda,Kodiaq,Sales,Sales,NaN,Automatic,Units,1/1/2022,NaN,2.0,14,27695,27840,145
1,NaN,,Diesel,NaN,Skoda,Skoda,Octavia,Sales,Sales,NaN,Semi-Auto,Units,1/1/2022,NaN,2.0,9653,18495,18640,145
2,NaN,,Petrol,NaN,Skoda,Skoda,Octavia,Sales,Sales,NaN,Manual,Units,1/1/2017,NaN,1.4,31246,8995,9120,125
3,NaN,,Diesel,NaN,Skoda,Skoda,Fabia,Sales,Sales,NaN,Manual,Units,1/1/2018,NaN,1.4,18737,7995,7995,0
4,NaN,,Diesel,NaN,Skoda,Skoda,Superb,Sales,Sales,NaN,Manual,Units,1/1/2018,NaN,2.0,29811,13295,13315,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72430,NaN,,Petrol,NaN,Volkswagen,Volkswagen,T-Roc,Sales,Sales,NaN,Semi-Auto,Units,1/1/2023,NaN,2.0,4000,40995,41145,150
72431,NaN,,Petrol,NaN,Volkswagen,Volkswagen,T-Roc,Sales,Sales,NaN,Semi-Auto,Units,1/1/2023,NaN,2.0,1500,40999,41149,150
72432,NaN,,Petrol,NaN,Volkswagen,Volkswagen,Tiguan,Sales,Sales,NaN,Semi-Auto,Units,1/1/2023,NaN,2.0,3000,29995,30145,150
72433,NaN,,Petrol,NaN,Volkswagen,Volkswagen,Tiguan,Sales,Sales,NaN,Semi-Auto,Units,1/1/2023,NaN,2.0,4500,32495,32645,150
72434,NaN,,Petrol,NaN,Volkswagen,Volkswagen,Touareg,Sales,Sales,NaN,Semi-Auto,Units,1/1/2023,NaN,3.0,5000,56499,56649,150

In [ ]:
df1.isnull().sum()

2016 Model      69572
dummy               0
Fuel Type           0
Images          53744
Make                0
Make                0
Model               0
Sales Button        0
select              0
Select Brand    53744
Transmission        0
Units Button        0
Year                0
2016            69572
Engine Size         0
Mileage             0
Price               0
Sales               0
Tax                 0
dtype: int64

In [ ]:
print(df1.shape)

(71550, 19)

In [ ]:
df2 = df1.dropna()
df2

,2016 Model,dummy,Fuel Type,Images,Make,Make,Model,Sales Button,select,Select Brand,Transmission,Units Button,Year,2016,Engine Size,Mileage,Price,Sales,Tax
5166,C-MAX,,Diesel,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,C-MAX,Sales,Sales,Ford,Automatic,Units,1/1/2016,6040.0,2.0,62000,5880,6040,160
5167,Grand C-MAX,,Diesel,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,Grand C-MAX,Sales,Sales,Ford,Automatic,Units,1/1/2016,6986.0,2.0,60037,6826,6986,160
5168,Mondeo,,Diesel,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,Mondeo,Sales,Sales,Ford,Automatic,Units,1/1/2016,8155.0,2.0,45050,7995,8155,160
5169,C-MAX,,Diesel,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,C-MAX,Sales,Sales,Ford,Automatic,Units,1/1/2016,7165.0,2.0,36547,7000,7165,165
5170,Grand C-MAX,,Diesel,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,Grand C-MAX,Sales,Sales,Ford,Automatic,Units,1/1/2016,8635.0,2.0,47421,8470,8635,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68926,B-MAX,,Petrol,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,B-MAX,Sales,Sales,Ford,Semi-Auto,Units,1/1/2016,5155.0,1.6,48232,4990,5155,165
68927,B-MAX,,Petrol,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,B-MAX,Sales,Sales,Ford,Semi-Auto,Units,1/1/2016,5737.0,1.6,55920,5572,5737,165
68928,B-MAX,,Petrol,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,B-MAX,Sales,Sales,Ford,Semi-Auto,Units,1/1/2016,6163.0,1.6,44582,5998,6163,165
68929,B-MAX,,Petrol,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,B-MAX,Sales,Sales,Ford,Semi-Auto,Units,1/1/2016,7163.0,1.6,16736,6998,7163,165
68930,Focus,,Petrol,https://m.media-amazon.com/images/I/61+0h-qLU5...,Ford,Ford,Focus,Sales,Sales,Ford,Semi-Auto,Units,1/1/2016,5865.0,1.6,61339,5700,5865,165

In [ ]:
print(df2.shape)

(606, 19)

In [ ]:
df2 = df2.drop(columns=[])

In [ ]:
df2.isnull().sum()

2016 Model      0
dummy           0
Fuel Type       0
Images          0
Make            0
Make            0
Model           0
Sales Button    0
select          0
Select Brand    0
Transmission    0
Units Button    0
Year            0
2016            0
Engine Size     0
Mileage         0
Price           0
Sales           0
Tax             0
dtype: int64

In [ ]:
df2.describe()

,2016,Engine Size,Mileage,Price,Sales,Tax
count,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000
mean,6766.443894,1.388944,48105.846535,6702.863036,6766.443894,63.580858
std,1563.594839,0.365079,19209.664598,1518.649738,1563.594839,72.363631
min,2995.000000,0.000000,7000.000000,2975.000000,2995.000000,0.000000
25%,5831.750000,1.000000,34126.500000,5798.250000,5831.750000,20.000000
50%,6500.000000,1.200000,46053.500000,6482.500000,6500.000000,30.000000
75%,7323.750000,1.600000,59815.750000,7298.750000,7323.750000,145.000000
max,14735.000000,3.200000,130000.000000,14495.000000,14735.000000,300.000000

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 606 entries, 5166 to 68930
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   2016 Model    606 non-null    object
 1   dummy         606 non-null    object
 2   Fuel Type     606 non-null    object
 3   Images        606 non-null    object
 4   Make          606 non-null    object
 5   Make          606 non-null    object
 6   Model         606 non-null    object
 7   Sales Button  606 non-null    object
 8   select        606 non-null    object
 9   Select Brand  606 non-null    object
 10  Transmission  606 non-null    object
 11  Units Button  606 non-null    object
 12  Year          606 non-null    object
 13  2016          606 non-null    float64
 14  Engine Size   606 non-null    float64
 15  Mileage       606 non-null    int64
 16  Price         606 non-null    int64
 17  Sales         606 non-null    int64
 18  Tax           606 non-null    int64
dtypes: float64(2), int64(4), object(13)
memory usage: 110.9+ KB

In [ ]:
from google.colab import files
df2.to_csv("cars.csv")
files.download("cars.csv")